<div class="modal" id="bookingModal" aria-hidden="true">
  <div class="modal__overlay" data-modal-close></div>
  <div class="modal__dialog" role="dialog" aria-modal="true" aria-labelledby="bookingModalTitle">
    <button class="modal__close" type="button" data-modal-close aria-label="Закрыть форму">×</button>
    <h3 class="modal__title" id="bookingModalTitle">Запись на событие</h3>
    <p class="modal__lead" id="bookingEventLabel">Событие</p>
    <form class="modal__form" id="bookingForm">
      <input type="hidden" name="eventTitle" id="bookingEvent" value="">
      <label class="modal__label">
        <span>Фамилия</span>
        <input class="modal__input" type="text" name="lastName" required>
      </label>
      <label class="modal__label">
        <span>Имя</span>
        <input class="modal__input" type="text" name="firstName" required>
      </label>
      <label class="modal__label">
        <span>Отчество</span>
        <input class="modal__input" type="text" name="middleName">
      </label>
      <label class="modal__label">
        <span>Телефон</span>
        <input class="modal__input" type="tel" name="phone" required placeholder="+7 900 000 00 00">
      </label>
      <button class="button button--primary modal__submit" type="submit">Продолжить к оплате</button>
      <p class="modal__hint">Вы соглашаетесь на обработку данных и т.д.</p>
    </form>
  </div>
</div>

<div class="modal" id="detailsModal" aria-hidden="true">
  <div class="modal__overlay" data-modal-close></div>
  <div class="modal__dialog" role="dialog" aria-modal="true" aria-labelledby="detailsModalTitle">
    <button class="modal__close" type="button" data-modal-close aria-label="Закрыть описание">×</button>
    <h3 class="modal__title" id="detailsModalTitle">Событие</h3>
    <p class="modal__lead" id="detailsModalDesc">Описание события</p>
    <button class="button button--primary modal__submit" type="button" data-open-modal>Записаться</button>
  </div>
</div>
