@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "utils/variables";
@import "base/reset";
@import "base/typography";
@import "layout/layout";
@import "components/button";
@import "blocks/header";
@import "blocks/hero-card";
@import "blocks/events";
@import "blocks/about";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/footer";
